// Брейк-поинты
$pc: 1240px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Colors
$colorMain: #88b44e;
$colorText: #252c30;
$colorTextSecondary: #fff;