.cart-product {
  background-color: lightpink;
  padding: 20px;
  border-radius: 20px;
  @include flex(space-between, center);
  flex: 0 1 70%;
  gap: 20px;
  // .cart-product__number
  &__number {
    font-size: 24px;
  }
  // .cart-product__info
  &__info {
    font-size: 18px;
    flex: 0 1 60%;
    text-align: center;
    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.cart-product-image{
  width: 178px;
  // .product-image__img
  &__img {
    width: 100%;
  }
}
.product-info {
  // .product-info__title
  &__title {
    font-size: 24px;
  }
  // .product-info__description
  &__description {}
  // .product-info__other
  &__other {
    @include flex(space-around, center)
  }
  // .product-info__rating
  &__rating {}
  // .product-info__discount
  &__discount {}
}
.cart-product-control {
  flex-direction: column;
  @include flex(space-between, center);
  align-self: stretch;
  font-size: 24px;
  // .cart-product-control__stock
  &__stock {}
  // .cart-product-control__inc-dec
  &__inc-dec {
    @include flex(space-between, center);
    width: 100%;
  }
  // .cart-product-control__amount
  &__amount {}
}
.dec-button {
}
.button {
}
.inc-button {
}
