.header {
  position: sticky;
  z-index: 10;
  top: 0;
  padding: 20px 0;
  margin-bottom: 40px;
  background-color: $colorMain;
  color: $colorTextSecondary;
  // .header__container
  &__container {
    @include flex(space-between, center)
  }
}

