.catalog {
  // .catalog__products
  &__products {
  flex: 1 1 80%;
  // background-color: mediumaquamarine;
  }
}
.products {
  font-size: 24px;
  padding: 0 20px 20px;
  // .products__sort
  &__sort {
    width: 30%;
  }
  // .products__sortbar
  &__sortbar {}
}
.prdoucts-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
  background-color: #bfdba2;
  padding: 20px;
  border-radius: 20px;
}
.sortbar {
  font-size: inherit;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #88b44e;
}
.sortbar-item {
}
.products-amount {
  // .products-amount__title
  &__title {}
  // .products-amount__count
  &__count {}
}
.search-field {
  width: 100%;
  padding: 10px;
  border: 1px solid $colorMain;
  border-radius: 20px;
  text-align: center;
  font-size: inherit;
}
.products-items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.products-item {
  border-radius: 20px;
  padding: 15px;
  flex-grow: 0;
  flex-shrink: 1;
  width: calc(25% - 15px);
  text-align: center;
  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
  &:hover .products-item__hover {
    transform: translateY(0);
    opacity: 1;
  }
  // .products-item__image
  &__image {
    width: 100%;
  }
}
.products-image {
  width: 100%;
  border-radius: 20px;
  height: 204px;
}
.products-item {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
  // .products-item__rating
  &__rating {}
  // .product-item__title
  &__title {
    @include font(24px, "PlayfairDisplay-Bold")
  }
  // .products-item__desc
  &__desc {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  // .product-item__price
  &__price {
    margin-top: auto;
  }
  // .products-item__hover
  &__hover {
    padding: 35px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    background-color: #89b44ea6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.4s;
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
  }
  // .products-item__info-button
  &__info-button {}
  // .products-item__add-button
  &__add-button {}
}
