@font-face {
	font-family: "PlayfairDisplay-Regular";
	font-display: swap;
	src: url("../assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "PlayfairDisplay-Bold";
	font-display: swap;
	src: url("../assets/fonts/PlayfairDisplay-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "PlayfairDisplay-Black";
	font-display: swap;
	src: url("../assets/fonts/PlayfairDisplay-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans-Bold";
	font-display: swap;
	src: url("../assets/fonts/OpenSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans-Medium";
	font-display: swap;
	src: url("../assets/fonts/OpenSans-Medium.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans-Regular";
	font-display: swap;
	src: url("../assets/fonts/OpenSans-Regular.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
